// alert
.mars-global-alert {
  * {
    color: @mars-basecolor;
  }
  .ant-modal-confirm-title {
    margin: 0;
    font-size: 16px;
    color: @mars-basecolor !important;
  }
  .ant-modal-confirm-content {
    font-size: 14px;
    color: @mars-basecolor !important;
  }
  .ant-modal-confirm-btns {
    margin-top: 20px;
    .ant-btn {
      background: @background-base;
      background-color: @background-base;
    }
  }
  .ant-modal-content {
    background: @background-base;
    border: 1px solid @border-color-base;
  }
  .ant-modal-body {
    padding: 15px;
  }
  .anticon {
    * {
      color: #4db3ff !important;
      font-size: 20px;
    }
  }
}
