/**一个简单文本DIV面板**/
.marsBlackPanel {
  min-width: 90px;
  min-height: 35px;
  position: absolute;
  left: 16px;
  bottom: 31px;
  cursor: default;
  border-radius: 4px;
  opacity: 0.96;
  border: 1px solid #14171c;
  box-shadow: 0px 2px 21px 0px rgba(33, 34, 39, 0.55);
  border-radius: 4px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #1e202a 0%, #0d1013 100%);
}

.marsBlackPanel::before {
  content: "";
  width: calc(100% + 22px);
  height: 39px;
  position: absolute;
  bottom: -39px;
  left: -22px;
  background: url("/img/icon/popupLbl.png") 0px 0px no-repeat;
  background-position: 0px 0px;
}

.marsBlackPanel-text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1px 20px;
  font-size: 14px;
  font-family: "MicrosoftYaHei";
  font-weight: 400;
  color: #ffffff;
  line-height: 33px;
  border: 1px solid #ffffff4f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}
