/**一个简单文本DIV面板**/
.marsBlackPanel {
  min-width: 90px;
  min-height: 35px;
  position: absolute;
  left: 16px;
  bottom: 31px;
  cursor: default;
  opacity: 0.96;
  box-sizing: border-box;
}

.marsBlackPanel::before {
  content: "";
  width: calc(100% + 22px);
  height: 39px;
  position: absolute;
  bottom: -39px;
  left: -22px;
  background: url("/img/icon/popupLbl.png") 0px 0px no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

.marsBlackPanel-text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1px 20px;
  font-size: 23px;
  font-family: "MicrosoftYaHei";
  font-weight: 100;
  color: yellow;
  line-height: 33px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}
