// 提示组件背景
.mars-msg-bg {
  color: var(--mars-msg-title-color);
  background: var(--mars-msg-content-bg);
  background-size: 100% 100%;
}

// 提示组件标题样式
.mars-msg-title {
  height: 41px;
  line-height: 41px;
  font-size: 18px;
  padding-left: 13px;
  color: var(--mars-alert-title-color);
  background: var(--mars-msg-title-bg);
  background-size: 10px 44px;
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 0;
    border-top: 1px solid var(--mars-primary-color);
    border-left: 1px solid var(--mars-primary-color);
  }
  &::after {
    content: "";
    display: block;
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 1px solid var(--mars-primary-color);
  }
}

// 下拉样式
.mars-drop-bg {
  border-bottom: 1px solid #008aff70;
  border-left: 1px solid #008aff70;
  border-right: 1px solid #008aff70;
  box-shadow: 0px 4px 15px 1px rgba(2, 33, 59, 0.7);
  border-radius: 0px;
  background: linear-gradient(to left, var(--mars-base-color), var(--mars-base-color)) left bottom no-repeat,
    linear-gradient(to bottom, var(--mars-base-color), var(--mars-base-color)) left bottom no-repeat,
    linear-gradient(to left, var(--mars-base-color), var(--mars-base-color)) right bottom no-repeat,
    linear-gradient(to left, var(--mars-base-color), var(--mars-base-color)) right bottom no-repeat;
  background-size: 1px 10px, 10px 1px, 1px 10px, 10px 1px;
  background-color: var(--mars-bg-base) !important;
}

.mars-hover-bg {
  // background: var(--mars-title-active);
  background-color: var(--mars-select-bg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mars-main-view {
  color: var(--mars-text-color);

  // collapse 折叠面板相关样式
  .ant-collapse,
  .ant-collapse-item,
  .ant-collapse-content {
    background: none !important;
    border: none;
  }

  .ant-collapse-content-box {
    padding: 5px 5px 10px 5px;
  }

  .ant-collapse-header {
    background: var(--mars-collapse-title-bg);
    margin-bottom: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 5px 15px !important;
    color: #fff !important;
  }

  .ant-collapse-content {
    color: var(--mars-base-color) !important;
  }

  .ant-collapse-extra {
    .mars-icon {
      font-size: 16px;
      line-height: 16px;
      vertical-align: middle;
    }
  }

  // 切换按钮
  .ant-radio-button-wrapper {
    background: rgba(32, 160, 255, 0.2);
    color: #ffffff;
    box-shadow: none !important;
  }

  // 选中按钮
  .ant-radio-button-checked {
    background-color: #1890ff;
  }

  // 表单元素
  .ant-form {
    color: rgba(255, 255, 255, 0.925);

    .ant-form-item-extra {
      color: var(--mars-text-color);
    }
  }

  .ant-form-item {
    margin-bottom: 10px !important;
    color: var(--mars-text-color);

    .ant-form-item-label > label {
      font-size: 16px;
      color: var(--mars-sub-title-color);
    }
  }

  .ant-form-item:nth-last-child(1) {
    margin-bottom: 0 !important;
  }

  /* 卡片 */
  .mars-ant-card {
    background: none;
    border: 1px solid var(--mars-base-border-color);
    color: var(--mars-text-color);

    .ant-card-head {
      border-color: var(--mars-base-border-color);
      min-height: auto;
      padding: 0 10px;
      color: var(--mars-text-color);

      .ant-card-head-title {
        padding: 8px 0;
      }
    }

    .ant-card-body {
      padding: 10px;
    }
  }

  // 文件选择
  .ant-upload {
    color: var(--mars-text-color);
  }

  // 多选
  .ant-checkbox-wrapper {
    color: var(--mars-text-color);

    .ant-checkbox-inner {
      background-color: var(--mars-bg-base);
      border-color: var(--mars-base-border-color);
    }

    .ant-checkbox-checked {
      background: var(--mars-primary-color);

      .ant-checkbox-inner {
        background-color: var(--mars-primary-color);
        border-color: var(--mars-primary-color);
      }
    }
  }

  // 单选
  .ant-radio-wrapper {
    color: var(--mars-text-color);

    .ant-radio-inner {
      background-color: var(--mars-bg-base);
      border-color: var(--mars-base-border-color);
      box-shadow: none !important;
      outline: none !important;
    }

    .ant-radio-checked {
      .ant-radio-inner {
        border-color: var(--mars-primary-color);
      }
    }

    .ant-radio-input {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  // 表格
  .ant-table,
  .ant-table-thead > tr > th {
    color: var(--mars-sub-title-color);
    background: none !important;
  }

  .ant-table-sticky-holder {
    background: none;
  }

  .ant-table-row:nth-of-type(even) {
    background-color: var(--mars-bg-base);
  }
  .ant-table-row:nth-of-type(odd) {
    background-color: var(--mars-odd-table-bg);
  }

  .ant-table .ant-table-thead {
    background-color: var(--mars-select-bg);
  }

  .ant-table-tbody > tr.ant-table-placeholder > td {
    background: #141414;
  }

  .ant-table-row:hover > td,
  .ant-table-row-selected > td {
    background-color: transparent !important;
  }

  .ant-table-cell {
    font-size: 16px;
    color: var(--mars-text-color);
    border: none !important;
    background: transparent !important;
  }

  .ant-table-container {
    border: 1px solid var(--mars-primary-color) !important;
    background: transparent !important;
  }

  .ant-table-placeholder > td {
    background: var(--mars-bg-base) !important;
  }

  .ant-table-row:nth-last-child(1) .ant-table-cell {
    border-bottom: none;
  }

  .ant-cascader-dropdown {
    padding: 0 !important;
    .mars-drop-bg();

    .ant-cascader-menu-item {
      &:hover {
        background: var(--mars-list-active);
      }
    }

    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
      background: var(--mars-list-active);
    }

    .ant-cascader-menu-item-expand-icon {
      color: var(--mars-text-color);
    }
  }

  // 标签页的标签文字颜色
  .ant-tabs-tab {
    color: var(--mars-text-color);
  }

  // 分页
  .ant-pagination {
    * {
      color: var(--mars-text-color) !important;
    }

    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
      background: none;
      background-color: transparent !important;
    }

    .ant-pagination-simple-pager {
      input {
        background: none;
        background-color: transparent !important;
      }
    }

    .ant-select {
      color: var(--mars-text-color);
      background-color: transparent !important;
      background: none;

      .ant-select-selector {
        border-color: var(--mars-base-border-color) !important;
        background: none;
        background-color: transparent !important;

        &:hover,
        &:focus {
          border-color: #4db3ff !important;
        }
      }

      .ant-select-arrow {
        color: var(--mars-base-color) !important;
      }
    }

    .ant-select-dropdown {
      padding: 0 !important;
      .mars-drop-bg();

      .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background: var(--mars-list-active);
      }

      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        font-weight: 700;
        background: var(--mars-list-active);
      }

      .ant-select-item {
        transition: none;
        color: var(--mars-base-color) !important;
        text-align: center;
      }
    }
  }

  // 列表
  .ant-list-items {
    * {
      color: var(--mars-text-color);
    }

    .ant-list-item {
      border-bottom: 1px solid #303030;
    }

    .ant-list-item-meta-description {
      color: hsla(0, 0%, 100%, 0.45);
    }
  }

  // 分割线
  .ant-divider-vertical {
    border-color: var(--mars-text-color);
  }

  //table表格滚动条
  .ant-table-body {
    &::-webkit-scrollbar {
      //整体样式
      height: 0;
      width: 0;
    }
  }

  .ant-tabs {
    width: 100%;
    .ant-tabs-nav {
      margin-top: 0;
      &::before {
        border-color: var(--mars-base-border-color);
      }
    }
    .ant-tabs-tab {
      color: var(--mars-base-color) !important;
    }

    .ant-tabs-nav-wrap {
      line-height: 1;
    }
    &.ant-tabs-card {
      .ant-tabs-nav .ant-tabs-tab-active {
        background: #20a0ff33 !important;
      }
      .ant-tabs-tab {
        background: #20a0ff33 !important;
        border-color: var(--mars-base-border-color);
      }
    }
    .ant-tabs-tab-active {
      border-top: none !important;
    }
  }
}

.mars-cascader-dropdown {
  padding: 0 !important;
  background-color: var(--mars-select-bg) !important;
  .mars-drop-bg();

  .ant-cascader-menu-item {
    &:hover {
      background: var(--mars-list-active);
    }
  }

  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
    background: var(--mars-list-active);
  }

  .ant-cascader-menu-item-expand-icon {
    color: var(--mars-text-color);
  }
}

// 下拉选择
.mars-select-dropdown {
  padding: 0 !important;
  color: var(--mars-text-color) !important;
  .mars-drop-bg();

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: var(--mars-list-active);
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: 700;
    background: var(--mars-list-active);
  }
  .ant-select-item {
    transition: none;
    color: var(--mars-text-color) !important;
    text-align: center;
  }

  .ant-cascader-menu-item {
    &:hover {
      background: var(--mars-list-active);
    }
  }

  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
    background: var(--mars-list-active);
  }

  .ant-cascader-menu-item-expand-icon {
    color: var(--mars-text-color);
  }
}

// 滚动条
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--mars-scrollbar-track);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 4px;
  background: var(--mars-scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  padding-top: 100px;
  background-color: var(--mars-scrollbar-thumb);
  min-height: 28px;
  border-radius: 4px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 0;
}
