/**
 * 重写antd相关样式
 *
 * @copyright 火星科技 mars3d.cn
 * @author 木遥 2021-11-01
 */
/* 统一所有输入控件的边框 */
.ant-radio-wrapper:hover,
.ant-radio-button-wrapper:hover,
.ant-radio:hover,
.ant-radio-input:hover,
.ant-tree-checkbox-wrapper:hover,
.ant-tree-checkbox:hover,
.ant-tree-checkbox-input:hover,
.ant-checkbox-wrapper:hover,
.ant-checkbox:hover,
.ant-checkbox-input:hover,
.ant-input-affix-wrapper:hover,
.ant-picker:hover,
.ant-input-number:hover,
.ant-select:not(.ant-select-disabled):hover,
.ant-btn:not([disabled]):hover,
.ant-radio-wrapper:focus,
.ant-radio-button-wrapper:focus,
.ant-radio:focus,
.ant-radio-input:focus,
.ant-tree-checkbox-wrapper:focus,
.ant-tree-checkbox:focus,
.ant-tree-checkbox-input:focus,
.ant-checkbox-wrapper:focus,
.ant-checkbox:focus,
.ant-checkbox-input:focus,
.ant-input-affix-wrapper:focus,
.ant-picker:focus,
.ant-input-number:focus,
.ant-select:not(.ant-select-disabled):focus,
.ant-btn:not([disabled]):focus {
  border-color: #4db3ff;
}
.ant-radio-wrapper:hover .ant-select-selector,
.ant-radio-button-wrapper:hover .ant-select-selector,
.ant-radio:hover .ant-select-selector,
.ant-radio-input:hover .ant-select-selector,
.ant-tree-checkbox-wrapper:hover .ant-select-selector,
.ant-tree-checkbox:hover .ant-select-selector,
.ant-tree-checkbox-input:hover .ant-select-selector,
.ant-checkbox-wrapper:hover .ant-select-selector,
.ant-checkbox:hover .ant-select-selector,
.ant-checkbox-input:hover .ant-select-selector,
.ant-input-affix-wrapper:hover .ant-select-selector,
.ant-picker:hover .ant-select-selector,
.ant-input-number:hover .ant-select-selector,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-btn:not([disabled]):hover .ant-select-selector,
.ant-radio-wrapper:focus .ant-select-selector,
.ant-radio-button-wrapper:focus .ant-select-selector,
.ant-radio:focus .ant-select-selector,
.ant-radio-input:focus .ant-select-selector,
.ant-tree-checkbox-wrapper:focus .ant-select-selector,
.ant-tree-checkbox:focus .ant-select-selector,
.ant-tree-checkbox-input:focus .ant-select-selector,
.ant-checkbox-wrapper:focus .ant-select-selector,
.ant-checkbox:focus .ant-select-selector,
.ant-checkbox-input:focus .ant-select-selector,
.ant-input-affix-wrapper:focus .ant-select-selector,
.ant-picker:focus .ant-select-selector,
.ant-input-number:focus .ant-select-selector,
.ant-select:not(.ant-select-disabled):focus .ant-select-selector,
.ant-btn:not([disabled]):focus .ant-select-selector,
.ant-radio-wrapper:hover .ant-checkbox-inner,
.ant-radio-button-wrapper:hover .ant-checkbox-inner,
.ant-radio:hover .ant-checkbox-inner,
.ant-radio-input:hover .ant-checkbox-inner,
.ant-tree-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-tree-checkbox:hover .ant-checkbox-inner,
.ant-tree-checkbox-input:hover .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:hover .ant-checkbox-inner,
.ant-input-affix-wrapper:hover .ant-checkbox-inner,
.ant-picker:hover .ant-checkbox-inner,
.ant-input-number:hover .ant-checkbox-inner,
.ant-select:not(.ant-select-disabled):hover .ant-checkbox-inner,
.ant-btn:not([disabled]):hover .ant-checkbox-inner,
.ant-radio-wrapper:focus .ant-checkbox-inner,
.ant-radio-button-wrapper:focus .ant-checkbox-inner,
.ant-radio:focus .ant-checkbox-inner,
.ant-radio-input:focus .ant-checkbox-inner,
.ant-tree-checkbox-wrapper:focus .ant-checkbox-inner,
.ant-tree-checkbox:focus .ant-checkbox-inner,
.ant-tree-checkbox-input:focus .ant-checkbox-inner,
.ant-checkbox-wrapper:focus .ant-checkbox-inner,
.ant-checkbox:focus .ant-checkbox-inner,
.ant-checkbox-input:focus .ant-checkbox-inner,
.ant-input-affix-wrapper:focus .ant-checkbox-inner,
.ant-picker:focus .ant-checkbox-inner,
.ant-input-number:focus .ant-checkbox-inner,
.ant-select:not(.ant-select-disabled):focus .ant-checkbox-inner,
.ant-btn:not([disabled]):focus .ant-checkbox-inner,
.ant-radio-wrapper:hover .ant-tree-checkbox-inner,
.ant-radio-button-wrapper:hover .ant-tree-checkbox-inner,
.ant-radio:hover .ant-tree-checkbox-inner,
.ant-radio-input:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:hover .ant-tree-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-checkbox:hover .ant-tree-checkbox-inner,
.ant-checkbox-input:hover .ant-tree-checkbox-inner,
.ant-input-affix-wrapper:hover .ant-tree-checkbox-inner,
.ant-picker:hover .ant-tree-checkbox-inner,
.ant-input-number:hover .ant-tree-checkbox-inner,
.ant-select:not(.ant-select-disabled):hover .ant-tree-checkbox-inner,
.ant-btn:not([disabled]):hover .ant-tree-checkbox-inner,
.ant-radio-wrapper:focus .ant-tree-checkbox-inner,
.ant-radio-button-wrapper:focus .ant-tree-checkbox-inner,
.ant-radio:focus .ant-tree-checkbox-inner,
.ant-radio-input:focus .ant-tree-checkbox-inner,
.ant-tree-checkbox-wrapper:focus .ant-tree-checkbox-inner,
.ant-tree-checkbox:focus .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:focus .ant-tree-checkbox-inner,
.ant-checkbox-wrapper:focus .ant-tree-checkbox-inner,
.ant-checkbox:focus .ant-tree-checkbox-inner,
.ant-checkbox-input:focus .ant-tree-checkbox-inner,
.ant-input-affix-wrapper:focus .ant-tree-checkbox-inner,
.ant-picker:focus .ant-tree-checkbox-inner,
.ant-input-number:focus .ant-tree-checkbox-inner,
.ant-select:not(.ant-select-disabled):focus .ant-tree-checkbox-inner,
.ant-btn:not([disabled]):focus .ant-tree-checkbox-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio-button-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio,
.ant-radio-input:hover .ant-radio,
.ant-tree-checkbox-wrapper:hover .ant-radio,
.ant-tree-checkbox:hover .ant-radio,
.ant-tree-checkbox-input:hover .ant-radio,
.ant-checkbox-wrapper:hover .ant-radio,
.ant-checkbox:hover .ant-radio,
.ant-checkbox-input:hover .ant-radio,
.ant-input-affix-wrapper:hover .ant-radio,
.ant-picker:hover .ant-radio,
.ant-input-number:hover .ant-radio,
.ant-select:not(.ant-select-disabled):hover .ant-radio,
.ant-btn:not([disabled]):hover .ant-radio,
.ant-radio-wrapper:focus .ant-radio,
.ant-radio-button-wrapper:focus .ant-radio,
.ant-radio:focus .ant-radio,
.ant-radio-input:focus .ant-radio,
.ant-tree-checkbox-wrapper:focus .ant-radio,
.ant-tree-checkbox:focus .ant-radio,
.ant-tree-checkbox-input:focus .ant-radio,
.ant-checkbox-wrapper:focus .ant-radio,
.ant-checkbox:focus .ant-radio,
.ant-checkbox-input:focus .ant-radio,
.ant-input-affix-wrapper:focus .ant-radio,
.ant-picker:focus .ant-radio,
.ant-input-number:focus .ant-radio,
.ant-select:not(.ant-select-disabled):focus .ant-radio,
.ant-btn:not([disabled]):focus .ant-radio,
.ant-radio-wrapper:hover .ant-radio-inner,
.ant-radio-button-wrapper:hover .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:hover .ant-radio-inner,
.ant-tree-checkbox-wrapper:hover .ant-radio-inner,
.ant-tree-checkbox:hover .ant-radio-inner,
.ant-tree-checkbox-input:hover .ant-radio-inner,
.ant-checkbox-wrapper:hover .ant-radio-inner,
.ant-checkbox:hover .ant-radio-inner,
.ant-checkbox-input:hover .ant-radio-inner,
.ant-input-affix-wrapper:hover .ant-radio-inner,
.ant-picker:hover .ant-radio-inner,
.ant-input-number:hover .ant-radio-inner,
.ant-select:not(.ant-select-disabled):hover .ant-radio-inner,
.ant-btn:not([disabled]):hover .ant-radio-inner,
.ant-radio-wrapper:focus .ant-radio-inner,
.ant-radio-button-wrapper:focus .ant-radio-inner,
.ant-radio:focus .ant-radio-inner,
.ant-radio-input:focus .ant-radio-inner,
.ant-tree-checkbox-wrapper:focus .ant-radio-inner,
.ant-tree-checkbox:focus .ant-radio-inner,
.ant-tree-checkbox-input:focus .ant-radio-inner,
.ant-checkbox-wrapper:focus .ant-radio-inner,
.ant-checkbox:focus .ant-radio-inner,
.ant-checkbox-input:focus .ant-radio-inner,
.ant-input-affix-wrapper:focus .ant-radio-inner,
.ant-picker:focus .ant-radio-inner,
.ant-input-number:focus .ant-radio-inner,
.ant-select:not(.ant-select-disabled):focus .ant-radio-inner,
.ant-btn:not([disabled]):focus .ant-radio-inner {
  border-color: #4db3ff;
}
/* 文本、数字、下拉等input输入框 */
.ant-input-affix-wrapper,
.ant-input-number,
.ant-select,
.ant-picker {
  color: #ffffff;
  background-color: rgba(63, 72, 84, 0.7);
  padding: 0;
}
.ant-input-affix-wrapper > input.ant-input,
.ant-input-number-input,
.ant-picker-input > input {
  height: 28px;
  padding: 0 10px;
}
.ant-input-number * {
  color: #ffffff;
}
/* 小型 单击按钮 */
.small-btn {
  padding: 4px 5px;
  height: 28px;
}
/*超链接 按钮*/
.ant-btn-link {
  border: none !important;
}
.ant-btn:not([disabled]):hover {
  color: #4db3ff;
}
.ant-btn:not([disabled]):focus {
  color: #4db3ff;
}
/*滑动条 未选择部分*/
.ant-slider-rail {
  background-color: #cde1de;
}
/*滑动条 输入面板内时修改高度等*/
.ant-form-item-control-input {
  /*滑动条 未选择、已选择部分 高度*/
  /*滑动条 刻度点*/
  /*滑动条 拖拽点*/
}
.ant-form-item-control-input .ant-slider {
  margin: 0px 6px 6px 6px;
}
.ant-form-item-control-input .ant-slider-rail,
.ant-form-item-control-input .ant-slider-track {
  height: 10px;
  border-radius: 5px;
}
.ant-form-item-control-input .ant-slider-dot {
  border-color: #cde1de;
  background-color: #16212c7d;
  top: -1px;
  height: 12px;
  width: 12px;
}
.ant-form-item-control-input .ant-slider-dot:first-child {
  margin-left: -1px;
}
.ant-form-item-control-input .ant-slider-dot:last-child {
  right: -1px;
  left: auto !important;
}
.ant-form-item-control-input .ant-slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: -4px;
}
/*多选框*/
.ant-checkbox {
  border-radius: 3px;
  background-color: #fff;
}
/*单选框*/
.ant-radio {
  border-radius: 50%;
  background-color: #fff;
}
.ant-radio-inner::after {
  background-color: #4db3ff;
}
/*有下拉面板控件的背景统一处理*/
.ant-select-dropdown,
.ant-picker-panel-container,
.ant-dropdown-menu,
.ant-popover-inner,
.ant-tree-node-selected,
.ant-tree-treenode-selected::before {
  background-color: rgba(32, 42, 68, 0.9) !important;
}
.ant-select-item-option-selected {
  background-color: rgba(255, 255, 255, 0.08) !important;
}
.hu-color-picker {
  width: 220px !important;
  background-color: rgba(32, 42, 68, 0.9) !important;
  box-shadow: none;
}
.notify-mesage {
  padding: 15px 10px;
  border: 1px solid rgba(32, 160, 255, 0.6);
  background: rgba(30, 36, 50, 0.6);
}
.notify-mesage .ant-notification-notice-icon {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
}
.notify-mesage .ant-notification-notice-message {
  height: 30px;
  margin-left: 30px;
  color: #ffffff;
  font-size: 16px;
  border-color: rgba(32, 160, 255, 0.3);
}
.notify-mesage .ant-notification-notice-description {
  color: #ffffff;
  margin-left: 5px;
  line-height: 21px;
  text-indent: 25px;
}
.notify-mesage .ant-notification-notice-close {
  color: #ffffff;
  top: 10px;
  right: 10px;
}
.global-alert .ant-modal-confirm-title {
  margin: 0;
  font-size: 16px;
}
.global-alert .ant-modal-confirm-content {
  font-size: 14px;
}
.global-alert .ant-modal-confirm-btns {
  margin-top: 20px;
}
.global-alert .ant-modal-content {
  background: rgba(30, 36, 50, 0.6);
  border: 1px solid rgba(32, 160, 255, 0.6);
}
.global-alert .ant-modal-body {
  padding: 15px;
}
.pannel {
  font-size: 13px;
  /*统一字体大小*/
}
.pannel .ant-form-item {
  margin-bottom: 10px !important;
}
.pannel .ant-form-item:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.pannel .ant-input-number,
.pannel .ant-picker {
  width: 100%;
}
.pannel .ant-table,
.pannel .ant-table-thead > tr > th,
.pannel .ant-tree-show-line .ant-tree-switcher,
.pannel .ant-collapse,
.pannel .ant-collapse-content,
.pannel .ant-input-group-addon {
  background: none !important;
}
.pannel .ant-table .ant-table-thead {
  background-color: rgba(32, 160, 255, 0.2);
}
.pannel .ant-slider-track {
  background-color: #4db3ff !important;
}
.pannel .ant-slider-dot-active,
.pannel .ant-slider-handle {
  border-color: #4db3ff !important;
}
.pannel .ant-collapse,
.pannel .ant-collapse-item,
.pannel .ant-collapse-content {
  border: none;
}
.pannel .ant-table-row:hover > td,
.pannel .ant-table-row-selected > td,
.pannel .ant-collapse-header {
  background-color: rgba(32, 42, 68, 0.5) !important;
}
.pannel .ant-collapse-header {
  padding: 5px 10px !important;
  border-bottom: 1px solid #3b4d5e;
}
.pannel .ant-collapse-content-box {
  padding: 5px;
}
.pannel .ant-collapse-extra .i-icon {
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.pannel .ant-table-container,
.pannel .ant-table-cell {
  border-color: #cde1de !important;
}
.pannel .ant-table-container {
  border-right: 1px solid #cde1de !important;
}
.pannel .ant-table-cell:last-child {
  border-right: 0 !important;
}
.pannel .ant-collapse-header .i-icon {
  font-size: 16px !important;
  line-height: 16px;
  vertical-align: middle !important;
}
.pannel .ant-btn {
  padding: 5px 10px;
  font-size: 13px;
  background-color: rgba(32, 160, 255, 0.2);
}
.pannel .ant-btn .i-icon {
  font-size: 18px !important;
  line-height: 18px;
  vertical-align: middle !important;
  padding-left: 2px;
  padding-right: 2px;
}
.pannel .ant-btn-link {
  background: none;
  padding: 0;
  height: initial;
}
.pannel .ant-input-group-addon {
  padding-left: 4px;
  padding-right: 4px;
}
.pannel .anticon-file {
  display: none;
}
.pannel .ant-tree-show-line .ant-tree-indent-unit::before {
  border-right: 1px dotted #fff;
}
.pannel .ant-tree-switcher-noop {
  width: 20px;
}
.pannel .ant-tree-switcher-noop::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 26px;
  border-right: 1px dotted #fff;
}
.pannel .ant-tree-treenode-leaf-last .ant-tree-switcher-noop::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  border-right: 1px dotted #fff;
}
.pannel .ant-tree-switcher-noop::after {
  content: "";
  display: inline-block;
  width: 8px;
  position: absolute;
  top: 10px;
  border-bottom: 1px dotted #fff;
}
.pannel .ant-tree-node-content-wrapper {
  padding: 0;
}
.pannel .ant-tree-node-content-wrapper .ant-tree-iconEle {
  line-height: 2.5;
}
