/*提示*/
.mars-message {
  .ant-message-notice-content {
    background: @background-base !important;
    color: @mars-basecolor;
    border: 1px solid @border-color-base;
  }

  .ant-message-info .anticon {
    * {
      color: #4db3ff !important;
    }
  }
}
