#centerDiv3D {
  position: absolute;
  width: 50%;
  height: 100%;
}

#centerDivEx {
  position: absolute;
  right: 0px;
  top: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
}



/* 兼容屏幕大小 美观显示状态栏信息 */
@media screen and (max-width: 2400px) {
  .mars3d-locationbar-content > div {
    margin-right: 15px;
  }
}
@media screen and (max-width: 2000px) {
  .cesium-performanceDisplay-ms,
  .cesium-performanceDisplay-fps,
  .mars3d-locationbar-content >.hide1000  {
    display: none;
  }
  .mars2d-locationbar-content > div ,
  .mars3d-locationbar-content > div {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .mars2d-locationbar-content >.hide700,
  .mars3d-locationbar-content >.hide700 {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .mars2d-locationbar,
  .mars3d-locationbar {
    display: none;
  }
}

